@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.title {
  font-size: 25px;
  color: #212529;
}
.title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.title h3 {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #777777;
}
.title--card {
  font-size: 25px;
  color: #212529;
}
.title--card h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 10px;
}
.title--card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #777777;
}

header .header__top {
  background-color: #f4f4f4;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-end;
}
header .header__top i {
  color: #008fe2;
  font-size: 1rem;
}
header .header__top span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #999;
}
header .header__top ul {
  display: flex;
  gap: 5px;
  margin-right: 80px;
}
header .header__top ul li.wBorder {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
header .header__top ul li {
  padding: 20px;
}
header nav {
  width: 80%;
  margin: 0 auto;
  height: 100px;
  padding: 28px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
header nav .nav__logo {
  height: 100%;
}
header nav a {
  height: 100%;
  display: inline-block;
}
header nav img {
  height: 100%;
}
header nav .nav__items > ul {
  display: flex;
  height: 100%;
}
header nav .nav__items > ul li.dropDownItem:hover a + ul {
  position: absolute;
  display: flex;
  flex-direction: column;
}
header nav .nav__items > ul a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: #008fe2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
header nav .nav__items > ul a + ul {
  display: none;
}
header nav .nav__items > ul a:hover {
  color: #fff !important;
  background-color: #2d529f !important;
}
header nav .nav__items > ul li.active a {
  color: #fff !important;
  background-color: #2d529f !important;
}

.card img {
  width: 100%;
}
.card .card__caption {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card:hover .card__caption {
  color: #fff !important;
  background-color: #2d529f !important;
  transition: all 0.2s ease-in-out;
}

.section {
  margin: auto;
  width: 100%;
  margin-top: 20px;
  padding: 0px 10%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}/*# sourceMappingURL=main.css.map */