main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: black;
	border-radius: 15px;
	color: white;
	box-sizing: border-box;
	padding: 100px;
}
header {
	width: 60%;
	margin: 0 auto;
	background-color: steelblue;
	border-radius: 20px;
	margin-bottom: 10px;
}
h1 {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
		"Times New Roman", Times, serif;
	font-size: 50px;
	color: white;
	margin: 0;
	text-align: center;
}
.content {
	width: 60%;
}
form {
	font-size: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
	background-color: steelblue;
	border-radius: 15px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	gap: 10px;
}
form > input {
	width: 30%;
	font-size: 20px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	background-color: white;
	border: 2px solid transparent;
	padding: 10px;
	color: steelblue;
	transition: all 0.3s ease-in-out;
}
form > input:hover {
	color: white;

	background-color: steelblue;
	border: 2px solid white;
}
#eNotification {
	padding: 10px;
	font-size: 20px;
	position: absolute;
	background-color: white;
	color: steelblue;
	border-color: transparent;
	border-radius: 10px;
	top: 20px;
	right: 20px;
}
.inputGroup {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: center;
}
.inputGroup label {
	font-size: 30px;
}
.inputGroup input {
	height: 20px;
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
}
/* Style the table */
#todoTable {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

/* Style table header */
#todoTable th {
	background-color: steelblue;
	padding: 8px;
	text-align: left;
}

/* Style table cells */
#todoTable td {
	border: 1px solid rgb(85, 127, 161);
	padding: 8px;
}

/* Style delete button */
#todoTable button {
	padding: 6px 10px;
	background-color: #f44336;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

/* Change delete button color on hover */
#todoTable button:hover {
	background-color: #d32f2f;
}
.notified td {
	text-decoration: line-through;
}
.notified > td button {
	text-decoration: none;
}
