body {
	height: 100vh;
	width: 100vw;
	background-color: skyblue;
	margin: 0px;
	padding: 0px;
	justify-content: center;
	align-items: center;
	display: flex;
}
.form1 > * {
	font-size: 30px;
}
.form2 > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
div > label {
	font-weight: bold;
}
.form2 {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 60%;
	width: 100%;
}

table {
	display: none;
	width: 80%;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
	width: 300px;
	box-sizing: border-box;
}

th {
	background-color: #f2f2f2;
}

tr {
	background-color: #f9f9f9;
}
