.myform {
	border: 2px solid #93d4ae;
	width: 500px;
	background-color: #e3f2ac;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	margin-top: 150px;
	margin-left: 450px;
}
p {
	font-size: 40px;
}
input {
	margin-bottom: 10px;
}

.txt {
	color: red;
}
.txt2 {
	color: red;
}
.txt3 {
	color: red;
}
#btn {
	border: 1px solid #93d4ae;
	background-color: #79ad8f;
	width: 100px;
	height: 50px;
	border-radius: 5px;
}
#btn2 {
	border: 1px solid #93d4ae;
	background-color: #79ad8f;
	width: 100px;
	height: 50px;
	border-radius: 5px;
}
table {
	border: 2px solid #79ad8f;
	width: 300px;
}
table th {
	border: 2px solid #79ad8f;
}
