.card {
	& img {
		width: 100%;
	}
	& .card__caption {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&:hover .card__caption {
		@include hover();
		transition: all 0.2s ease-in-out;
	}
}
