.grid{
    width: 80%;
    margin: 10px auto;
    background-color: #C5CAE9;
    border-radius: 18px;
    padding-top: 40px;
    h2{
        text-align: center;
        font-weight: 500;
        color: white;
    }

}
.example-button-container{
    width: 10%;
    position: absolute;
    right:50px;
}