$primaryColor: #2d529f;
$secondaryColor: #008fe2;
$tertiaryColor: #3aabdd;
$dark: #212529;
$bg-primary: #fff;
$bg-secondary: #f4f4f4;
$text-secondary: #777777;
$text-tertiary: #999;
$button-dark: #242424;
$poppins-font-family: "Poppins", sans-serif;
